@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* 

.inter-<uniquifier> {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

body {
    font-family: "Inter", sans-serif;
    font-size: 15px;
    
}

img {
    max-width: 100%;
    width: 100%;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}


.menu-home .logo {
    display: flex;
    align-items: center;

}

.menu-home img {

    width: 45px;
    height: 42px;
}

.menu-home {
    position: fixed;
    width: 100%;
}

.menu-home ul {
    list-style: none;
    padding: 25px;
    text-align: end;
    padding-right: 60px;
}

.menu-home ul li {
    display: inline;
}

.menu-home ul li a {
    font-family: "Inter", sans-serif;
    font-size: 12px;
    font-weight: 500;
    color: var(--nGblue);
    padding: 25px;
    display: inline-block;
    text-decoration: none;
}

.menu-home ul li a:hover {
    color: var(--pRed);
    transition: 0.4s;
    cursor: pointer;
}

.menu-home ul li a:hover {
    color: var(--pRed);
    transition: 0.2s;
}

.container {
    display: grid;
    gap: 10px;
    
    
}

.container .item1 {
    grid-column: 1 / span 2;
    grid-row: 1;
   
}

.container .item2 {
    grid-column: 3;
    grid-row: 1 / span 2;
    background-color: var(--nVdBlue);
    color: var(--nOwhite);
    width: 100%;
    padding: 10px;
    justify-content: center;
    text-align: start;

}

.container .item2 hr {
    border: 1px solid var(--nGblue)
}

.container .item2 h1 {
    color: var(--pOrange);
    padding-bottom: 15px;
    font-size: 30px;
    font-weight: 800;
   


}

.container .item2 h2 {
    color: var(--nOwhite);
    font-size: 15px;
    padding-bottom: 10px;
    padding-top: 30px;

}

.container .item2 p {
    color: var(--nGblue);
    font-size: 12px;
    font-weight: 300;
    padding-bottom: 30px;

}

.container .item3 {
    width: 70%;
}

.container .item5 {
    grid-column: 1 / span 3;
    grid-row: 3;
}


.item1 .img-item1 {
    width: 100%;
}

.container .item3 {
    font-size: 25px;

}

.container .item3 h1 {
    font-weight: 800;

}

.container .item4 {
    color: var(--nDgBlue);
    font-weight: 400;
    font-size: 15px;
    width: 60%;
    padding-top: 20px;
  
}

.container .item4 p {
    padding-bottom: 20px;

}

.container .item4 button {
    padding: 15px;
    width: 70%;
    color: var(--nVdBlue);
    background-color: var(--pRed);
    font-weight: 700;
    text-align: center;
    border: none;
}

.container .item4 button:hover {
    background-color: var(--nVdBlue);
    color: var(--nOwhite);
    transition: 0.4s;
    cursor: pointer;
}

.container .item5 {
    display: flex;
    justify-content: space-around;
    /* flex-direction: row; */
    padding-top: 40px;
    padding-bottom: 20px;
    width: 102%;
    

}


.container .item5 img {
    width: 23%;
}

.item5 .um {
    display: flex;

}

.item5 .um img {
    padding-left: 25px;

}

.item5 .um h1 {
    color: var(--pRed);
}

.item5 .um h3 {

    padding-top: 10px;
    padding-bottom: 20px;

}

.item5 .um h3:hover {
    color: var(--pRed);
    transition: 0.4s;
    cursor: pointer;
}

.item5 .um p {
    color: var(--nDgBlue);
    font-size: 15px;
}

.tres .coluna-01 {
    padding-left: 20px;
}

.item5 .dois {
    display: flex;

}

.item5 .dois img {
    padding-left: 25px;

}

.item5 .dois h1 {
    color: var(--pRed);
    
}

.item5 .dois h3 {

    padding-top: 10px;
    padding-bottom: 20px;

}

.item5 .dois h3:hover {
    color: var(--pRed);
    transition: 0.4s;
    cursor: pointer;
}

.item5 .dois p {
    color: var(--nDgBlue);
    font-size: 15px;
}

.tres .coluna-02 {
    padding-left: 20px;
}

.item5 .tres {
    display: flex;
    

}

.item5 .tres img {
    padding-left: 25px;

}

.item5 .tres h1 {
    color: var(--pRed);
    
}

.item5 .tres h3 {

    padding-top: 10px;
    padding-bottom: 20px;

}

.item5 .tres h3:hover {
    color: var(--pRed);
    transition: 0.4s;
    cursor: pointer;
}

.item5 .tres p {
    color: var(--nDgBlue);
    font-size: 15px;
}

.tres .coluna-03 {
    padding-left: 20px;
}