:root {
    --pOrange:rgb(233, 171, 83);
    --pRed:rgb(241, 94, 80);

    --nOwhite: rgb(255, 253, 250);
    --nGblue:rgb(197, 198, 206);
    --nDgBlue:rgb(93, 95, 121);
    --nVdBlue:rgb(0, 0, 26);

    --fonte:rgb(62, 82, 163);
}

